<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<!-- Page Content -->

<script type='text/javascript'>
    function addTreasures(){
        // Number of inputs to create
        var number = document.getElementById("treasures").value;
        // Container <div> where dynamic content will be placed
        var container = document.getElementById("treasure-list");
        // Clear previous contents of the container
        while (container.hasChildNodes()) {
            container.removeChild(container.lastChild);
        }

        // Append a line break
        container.appendChild(document.createElement("br"));

        // Append label
        var newlabel = document.createElement("label");
        newlabel.setAttribute("class", "col-sm-3 col-form-label");
        newlabel.innerHTML = "Treasures";
        container.appendChild(newlabel);

        container.appendChild(document.createElement("hr"));

        for (let i=0; i<number; i++){
            // Append treasure name
            let name = document.createElement("input");
            name.setAttribute("type", "text");
            name.setAttribute("class", "mt-1 form-control");
            name.setAttribute("id", "treasure-name-" + i);
            name.setAttribute("name", "treasure-name-" + i);
            name.setAttribute("placeholder", "Treasure Name");
            container.appendChild(name);

            // Append treasure location
            let location = document.createElement("input");
            location.setAttribute("type", "text");
            location.setAttribute("class", "mt-1 form-control");
            location.setAttribute("id", "treasure-location-" + i);
            location.setAttribute("name", "treasure-location-" + i);
            location.setAttribute("placeholder", "Treasure Location");
            container.appendChild(location);

            // Append treasure hint
            let hint = document.createElement("input");
            hint.setAttribute("type", "text");
            hint.setAttribute("class", "mt-1 form-control");
            hint.setAttribute("id", "treasure-hint-" + i);
            hint.setAttribute("name", "treasure-hint-" + i);
            hint.setAttribute("placeholder", "Treasure Hint");
            container.appendChild(hint);

            container.appendChild(document.createElement("br"));
        }
        container.appendChild(document.createElement("hr"));
        container.appendChild(document.createElement("br"));
    }
</script>

<div class="h-100 align-items-center container">
    <div class="wrapper">

        <h1>Create a new Treasure game</h1>

        <div class="container">
            <div class="row">
                <div class="mt-3 container">

                    <!--If there's an error, display it-->
                    {{ if .ErrorTitle}}
                        <div class="alert alert-danger">
                            <strong>{{.ErrorTitle}}</strong> {{.ErrorMessage}}
                        </div>
                    {{end}}

                    <form action="/games/create" method="POST">
                        <!-- Game Title -->
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="title" name="title" placeholder="Game Title">
                            </div>
                        </div>

                        <!-- Game Description -->
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="description" name="description" placeholder="Game Description">
                            </div>
                        </div>

                        <!-- Number of Treasures -->
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="treasures" name="treasures" placeholder="Number of Treasures">
                            </div>
                            <div class="col-sm-2">
                                <a href="#" id="addtreasures" onclick="addTreasures()">Create Treasures</a>
                            </div>

                        </div>

                        <div id="treasure-list"></div>

                        <!-- Submit -->
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-success">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
