<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<!-- Page Content -->

<div class="h-100 align-items-center container">
    <div class="wrapper">

        <!--If there's a message, display it-->
        {{ if .MessageTitle}}
            <div class="mt-2 alert alert-success">
                <strong>{{.MessageTitle}}</strong> {{.MessageMessage}}
            </div>
            <br>
        {{end}}


        <h1>{{ .treasure.Name }}</h1>

        <div class="container">
            <div class="row">
                <div class="mt-3 container">

                    <form>
                        <!-- Location -->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label"><strong>Location</strong></label>
                            <div class="col-sm-10">
                                <p>{{ .treasure.Location }}</p>
                            </div>
                        </div>

                        <!-- Hint -->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label"><strong>Hint</strong></label>
                            <div class="col-sm-10">
                                <p>{{ .treasure.Hint }}</p>
                            </div>
                        </div>

                        {{ if .treasure.Found }}
                            <!-- FoundUser -->
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><strong>Discoverer</strong></label>
                                <div class="col-sm-10">
                                    <p>{{ .treasure.FoundUser }}</p>
                                </div>
                            </div>

                            <!-- FoundDate -->
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><strong>Discovery Date</strong></label>
                                <div class="col-sm-10">
                                    <p>{{ .treasure.FoundDate.Format "2006 Jan 02" }}</p>
                                </div>
                            </div>

                            <!-- Found -->
                            <div class="form-group row">
                                <label class="col-sm-10 alert alert-success"><strong>Already Discovered!</strong></label>
                            </div>
                        {{ end }}

                        {{ if not .treasure.Found }}
                            <!-- Found -->
                            <div class="form-group row">
                                <label class="col-sm-12 alert alert-danger"><strong>Remains to be Found!</strong></label>
                            </div>
                        {{ end }}

                        <!-- QR Code -->
                        {{ if eq .game.Creator .user.Email }}
                            <hr>
                            <br>
                            <div class="row justify-content-md-center">
                                <p>Print and hide the treasure QR code!</p>
                            </div>
                            <div class="row justify-content-md-center">
                                <img class="img-fluid rounded" src="/assets/codes/{{ .treasure.QRCode }}" alt="">
                            </div>
                        {{ end }}
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
