<!--menu.html-->

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">TreasureCoin</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <!-- About -->
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>

                <!-- Profile -->
                {{ if .is_logged_in }}
                    <li class="nav-item">
                        <a class="nav-link" href="/me">Profile</a>
                    </li>
                {{end}}

                <!-- Games -->
                {{ if .is_logged_in }}
                    <li class="nav-item">
                        <a class="nav-link" href="/games/list">Games</a>
                    </li>
                {{end}}

                <!-- Sign in -->
                {{ if not .is_logged_in }}
                <li class="nav-item">
                    <a class="nav-link" href="/signin">Sign in</a>
                </li>
                {{end}}


                <!-- Sign up -->
                {{ if not .is_logged_in }}
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign up</a>
                </li>
                {{end}}

                <!-- Sign out -->
                {{ if .is_logged_in }}
                <li class="nav-item">
                    <a class="nav-link" href="/auth/signout">Sign out</a>
                </li>
                {{end}}
            </ul>
        </div>
    </div>
</nav>
